<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="span8">
      <h3>News Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>

<% else %>  
  <div class="row" style="background:#e2f1ff; position:relative; bottom:60px; height:380px">    
    <div style="position:relative; right:190px; top:90px">
      <h1 style="position:relative; top:6px">New User? Sign Up</h1>
      <h2 style="color:green; font-size:200%">It's free</h2>
    </div>
    <div class="span6 offset3" style="text-align:center; color:white; margin-top:5px; position:relative; right:10px; bottom:10px">
      <%= form_for(:session, url: sessions_path) do |f| %>
        <div style="position:relative; bottom:12px; left:120px">
          <div style="position:relative; bottom:186.2px; left:27px; width:220px">
            <%= f.label :email %>
            <%= f.text_field :email %>
          </div>

          <div style="position:relative; bottom:251px; left:260px; width:220px">
            <%= f.label :password %>
            <%= f.password_field :password %>
          </div>


          <div style="margin-top:7px; position:relative; bottom:311px; left:490px; width:100px">
            <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
          </div>
        </div>
      <% end %>

      <div style="color:black;  position:relative; bottom:310px; left:260px">
        <%= form_for(:user, url: users_path) do |f| %>
          <%= f.label :name %>
          <%= f.text_field :name %>

          <%= f.label :email %>
          <%= f.text_field :email %>

          <%= f.label :password %>
          <%= f.password_field :password %>

          <%= f.label :password_confirmation, "Confirmation" %>
          <%= f.password_field :password_confirmation %>

          <div style="position:relative; top:10px; left:0px"><%= f.submit "Create my account", class: "btn btn-large btn-success" %></div>
        <% end %>

      </div>



    </div>
  </div>
  
<% end %>