<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="span8">
      <h3>News Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>

<% else %>  
  <div class="row" style="background:#e2f1ff; position:relative; bottom:60px">
    <h1>Welcome to FoodFeed</h1>
    <div class="span6 offset3" style="text-align:center; margin-top:5px; position:relative; right:10px; bottom:10px">
      <%= form_for(:session, url: sessions_path) do |f| %>

        <%= f.label :email %>
        <%= f.text_field :email %>

        <%= f.label :password %>
        <%= f.password_field :password %>

        <div style="margin-top:7px">
          <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
        </div>

      <% end %>
    </div>
  </div>
  <div class="row" style="text-align:center; margin-bottom: 30px; margin-top: 0px; background:#e0ffec; height:175px; position: relative; bottom:60px">
    <h1 style="margin-top:25px">New User?</h1>
    <%= link_to "Create New Account", signup_path, class: "btn btn-large btn-success" %>
  </div>


<% end %>