<% if signed_in? %>
  <footer class="footer">
    <small style="margin-left:5px; position:relative; top:0px; float:bottom">   
      © 2014 FoodFeed     
    </small>
    <nav>
      <ul>
        <li><%= link_to "About",   about_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
        <li><%= link_to "Help", help_path %></li>      
      </ul>
    </nav>
  </footer>
<% else %>
<footer class="footer">
  <small style="margin-left:5px; position:relative; top:0px; right: 700px; float:bottom">   
    © 2014 FoodFeed     
  </small>
  <nav>
    <ul style="position:relative; bottom:20px">
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "Help", help_path %></li>      
    </ul>
  </nav>
</footer>
<% end %>